In [1]:
import pandas as pd

In [6]:
sal = pd.read_csv('Salaries.csv')

In [7]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011.0,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011.0,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011.0,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011.0,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.00,8601.00,189082.74,NaN,316285.74,316285.74,2011.0,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.90,134426.14,NaN,315981.05,315981.05,2011.0,NaN,San Francisco,NaN
7,8,DAVID KUSHNER,DEPUTY DIRECTOR OF INVESTMENTS,256576.96,0.00,51322.50,NaN,307899.46,307899.46,2011.0,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011.0,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.00,0.00,17115.73,NaN,302377.73,302377.73,2011.0,NaN,San Francisco,NaN
10,11,ARTHUR KENNEY,"ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",194999.39,71344.88,33149.90,NaN,299494.17,299494.17,2011.0,NaN,San Francisco,NaN
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.00,87082.62,110804.30,NaN,297608.92,297608.92,2011.0,NaN,San Francisco,NaN
12,13,EDWARD HARRINGTON,EXECUTIVE CONTRACT EMPLOYEE,294580.02,0.00,0.00,NaN,294580.02,294580.02,2011.0,NaN,San Francisco,NaN
13,14,JOHN MARTIN,DEPARTMENT HEAD V,271329.03,0.00,21342.59,NaN,292671.62,292671.62,2011.0,NaN,San Francisco,NaN
14,15,DAVID FRANKLIN,"BATTALION CHIEF, (FIRE DEPARTMENT)",174872.64,74050.30,37424.11,NaN,286347.05,286347.05,2011.0,NaN,San Francisco,NaN
15,16,RICHARD CORRIEA,"COMMANDER III, (POLICE DEPARTMENT)",198778.01,73478.20,13957.65,NaN,286213.86,286213.86,2011.0,NaN,San Francisco,NaN
16,17,AMY HART,DEPARTMENT HEAD V,268604.57,0.00,16115.86,NaN,284720.43,284720.43,2011.0,NaN,San Francisco,NaN
17,18,SEBASTIAN WONG,"CAPTAIN, EMERGENCYCY MEDICAL SERVICES",140546.87,119397.26,18625.08,NaN,278569.21,278569.21,2011.0,NaN,San Francisco,NaN
18,19,MARTY ROSS,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,69626.12,38115.47,NaN,276434.22,276434.22,2011.0,NaN,San Francisco,NaN
19,20,ELLEN MOFFATT,ASSISTANT MEDICAL EXAMINER,257510.59,880.16,16159.50,NaN,274550.25,274550.25,2011.0,NaN,San Francisco,NaN
20,21,VENUS AZAR,ASSISTANT MEDICAL EXAMINER,257510.48,0.00,16679.79,NaN,274190.27,274190.27,2011.0,NaN,San Francisco,NaN
21,22,JUDY MELINEK,ASSISTANT MEDICAL EXAMINER,257510.44,377.21,15883.56,NaN,273771.21,273771.21,2011.0,NaN,San Francisco,NaN
22,23,GEORGE GARCIA,"CAPTAIN, FIRE SUPPRESSION",140546.88,93200.58,39955.25,NaN,273702.71,273702.71,2011.0,NaN,San Francisco,NaN
23,24,VICTOR WYRSCH,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.63,77896.14,24083.86,NaN,270672.63,270672.63,2011.0,NaN,San Francisco,NaN
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011.0,NaN,San Francisco,NaN
25,26,GREGORY SUHR,CHIEF OF POLICE,256470.41,0.00,11522.18,NaN,267992.59,267992.59,2011.0,NaN,San Francisco,NaN
26,27,JOHN HANLEY,"CAPTAIN, FIRE SUPPRESSION",92080.80,40008.00,133695.76,NaN,265784.56,265784.56,2011.0,NaN,San Francisco,NaN
27,28,RAYMOND GUZMAN,"BATTALION CHIEF, (FIRE DEPARTMENT)",168692.59,80706.88,16063.99,NaN,265463.46,265463.46,2011.0,NaN,San Francisco,NaN
28,29,DENISE SCHMITT,DEPUTY CHIEF III (POLICE DEPARTMENT),261717.60,0.00,2357.00,NaN,264074.60,264074.60,2011.0,NaN,San Francisco,NaN
29,30,MONICA FIELDS,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",246225.60,0.00,15140.54,NaN,261366.14,261366.14,2011.0,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
87919,87920,Maximillian C Luna,Maintenance Machinist,82681.52,914.10,550.00,31059.11,84145.62,115204.73,2013.0,NaN,San Francisco,NaN
87920,87921,Nancy Bautista,Deputy Court Clerk III,81210.51,0.00,3500.00,30488.61,84710.51,115199.12,2013.0,NaN,San Francisco,NaN
87921,87922,Ma Benigna D Goodman,Deputy Court Clerk III,81210.50,0.00,3500.00,30488.61,84710.50,115199.11,2013.0,NaN,San Francisco,NaN
87922,87923,Charles C Williams,Park Section Supervisor,78567.01,7354.43,0.00,29275.69,85921.44,115197.13,2013.0,NaN,San Francisco,NaN
87923,87924,Anthony L Tave,Asst Engr,84193.81,0.00,0.00,31001.79,84193.81,115195.60,2013.0,NaN,San Francisco,NaN
87924,87925,Jose L Ledesma,Sewer Service Worker,84683.54,0.00,0.00,30507.09,84683.54,115190.63,2013.0,NaN,San Francisco,NaN
87925,87926,Christine Fong,Social Work Supervisor,83177.19,0.00,1260.00,30751.53,84437.19,115188.72,2013.0,NaN,San Francisco,NaN
87926,87927,Gerald P Domingo,Transit Operator,66411.73,9665.07,5559.88,33547.82,81636.68,115184.50,2013.0,NaN,San Francisco,NaN
87927,87928,Michael Garcia Jr,Painter,77933.18,4863.00,2699.50,29686.76,85495.68,115182.44,2013.0,NaN,San Francisco,NaN
87928,87929,Ronnie J Donaldson,Painter,77948.02,6450.42,1371.40,29412.14,85769.84,115181.98,2013.0,NaN,San Francisco,NaN
87929,87930,Christopher E Brown,Asphalt Finisher Supervisor 1,74740.00,8406.28,2125.27,29909.21,85271.55,115180.76,2013.0,NaN,San Francisco,NaN
87930,87931,Yvette Hannah,IT Operations Support Admn III,84794.58,0.00,0.00,30381.19,84794.58,115175.77,2013.0,NaN,San Francisco,NaN
87931,87932,Kimberley A Tucker,Senior Social Worker,76427.56,0.00,8434.09,30306.32,84861.65,115167.97,2013.0,NaN,San Francisco,NaN
87932,87933,Karina X Zhang,Social Work Specialist,83160.00,0.00,1505.00,30486.00,84665.00,115151.00,2013.0,NaN,San Francisco,NaN
87933,87934,Aaran Y Luo,Transit Operator,66724.34,14958.24,344.20,33122.86,82026.78,115149.64,2013.0,NaN,San Francisco,NaN
87934,87935,Jorge M Wong,IT Operations Support Admn III,83916.52,0.00,0.00,31229.07,83916.52,115145.59,2013.0,NaN,San Francisco,NaN
87935,87936,Sandra C Avella,Social Work Specialist,83160.00,0.00,1500.00,30484.93,84660.00,115144.93,2013.0,NaN,San Francisco,NaN
87936,87937,Edward K Wallace,Transit Operator,68378.34,9476.00,3384.94,33902.52,81239.28,115141.80,2013.0,NaN,San Francisco,NaN
87937,87938,Elaine Samuels,Licensed Vocational Nurse,73582.92,11461.20,1564.20,28518.99,86608.32,115127.31,2013.0,NaN,San Francisco,NaN
87938,87939,Jennifer S Gamad,Licensed Vocational Nurse,73602.01,12827.85,402.60,28294.50,86832.46,115126.96,2013.0,NaN,San Francisco,NaN
87939,87940,Jane Lee Chen,Dietitian,82728.01,0.00,1948.01,30445.56,84676.02,115121.58,2013.0,NaN,San Francisco,NaN
87940,87941,Jason Dot Mun Leung,Automotive Mechanic,79283.50,4388.85,1692.38,29755.61,85364.73,115120.34,2013.0,NaN,San Francisco,NaN
87941,87942,Yi Quan Zhu,Transit Operator,68676.83,6976.05,4980.36,34483.46,80633.24,115116.70,2013.0,NaN,San Francisco,NaN
87942,87943,Mazhar Rashid,Stationary Engineer,78470.62,7392.59,0.00,29247.27,85863.21,115110.48,2013.0,NaN,San Francisco,NaN
87943,87944,Elizabeth A Silva,IS Business Analyst,94694.54,0.00,0.00,20411.00,94694.54,115105.54,2013.0,NaN,San Francisco,NaN
87944,87945,Selamawit Batti,Medical Social Worker,84402.28,0.00,0.00,30696.23,84402.28,115098.51,2013.0,NaN,San Francisco,NaN
87945,87946,Felix J Lagasca,Transit Operator,65797.98,13418.40,3275.38,32603.79,82491.76,115095.55,2013.0,NaN,San Francisco,NaN
87946,87947,Donna A Loftus,Inspector 3,43053.09,913.47,59377.82,11749.91,103344.38,115094.29,2013.0,NaN,San Francisco,NaN
87947,87948,Thomas A Rodrigues,Project Manager 4,63720.00,0.00,35400.00,15971.73,99120.00,115091.73,2013.0,NaN,San Francisco,NaN
87948,87949,Mark Brown,Transit Operator,67968.32,1.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87949 entries, 0 to 87948
Data columns (total 13 columns):
Id                  87949 non-null int64
EmployeeName        87949 non-null object
JobTitle            87949 non-null object
BasePay             87946 non-null float64
OvertimePay         87949 non-null float64
OtherPay            87948 non-null float64
Benefits            51789 non-null float64
TotalPay            87948 non-null float64
TotalPayBenefits    87948 non-null float64
Year                87948 non-null float64
Notes               0 non-null float64
Agency              87948 non-null object
Status              0 non-null float64
dtypes: float64(9), int64(1), object(3)
memory usage: 8.7+ MB

In [11]:
sal[sal['EmployeeName'] == 'PATRICIA JACKSON']

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
11,12,PATRICIA JACKSON,CAPTAIN III (POLICE DEPARTMENT),99722.0,87082.62,110804.3,NaN,297608.92,297608.92,2011.0,NaN,San Francisco,NaN

In [22]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011.0,NaN,San Francisco,NaN

In [26]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
36156,36157,PAULETTE ADAMS,"STATIONARY ENGINEER, WATER TREATMENT PLANT",0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36157,36158,KAUKAB MOHSIN,TRANSIT OPERATOR,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN
36158,36159,JOSEPHINE MCCREARY,MANAGER IV,0.0,0.0,0.0,NaN,0.0,0.0,2011.0,NaN,San Francisco,NaN

In [29]:
sal.groupby('Year').mean()['BasePay']

Year
2011.0     63595.956517
2012.0     65436.406857
2013.0    111091.996769
Name: BasePay, dtype: float64

In [30]:
sal['JobTitle'].value_counts().head()

Transit Operator    3007
TRANSIT OPERATOR    2388
Registered Nurse    2307
Police Officer 3    1568
Special Nurse       1536
Name: JobTitle, dtype: int64